<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Web Push Demo</title>
</head>
<body>
  <h1>Web Push demo with PHP back-end</h1>
  <hr>

  <button id="btnSubscription"></button>
  <button id="btnNotification">Send Notification</button>
</body>
</html>
